.cart-item {
    padding: 10px 10px 10px 0;
    border-bottom: 1px grey solid;
    display: flex;
    width: 100%;

    &__image {
        max-width: 100px;
    }

    &__remove-button {
        padding: 5px;
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
    }

    &__name {
        &-block {
            display: flex;
            justify-content: space-between;
        }
    }

    &__price-block {
        display: flex;
        justify-content: space-between;

        .cart-item__price {
            display: flex;
        }

        .price-discount {
            margin-right: 10px;
        }
    }
}