<h1 class="page__title">Shopping Cart</h1>
<div class="cart">
    <ul>
        {{#each this.shoppingCart.items as |product|}}
            <li>
                <CartItem @product={{product}} />
            </li>
        {{/each}}
    </ul>
    <div class="cart-total">Total Price £{{this.totalPrice}}</div>
</div>

