<div class="quantity-counter">
    <button class="quantity-counter__button" type="button" {{on 'click' (fn @changeQuantity -1)}}>-</button>
    <Input @value={{@quantity}} class="quantity-counter__input" />
    <button class="quantity-counter__button" type="button" {{on 'click' (fn @changeQuantity 1)}}>+</button>
</div>